---
version: 2
interactions:
- id: 0
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"cancels\":[{\"a\":173,\"o\":1}],\"type\":\"cancel\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"ok\",\"response\":{\"type\":\"cancel\",\"data\":{\"statuses\":[{\"error\":\"Order was never placed, already canceled, or filled. asset=173\"}]}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 628.02255ms
