---
version: 2
interactions:
- id: 0
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"grouping\":\"na\",\"orders\":[{\"a\":173,\"b\":true,\"c\":\"0x285ad26a251f390c83d065af51e3f8d9\",\"p\":\"0.1233\",\"r\":false,\"s\":\"100\",\"t\":{\"limit\":{\"tif\":\"Gtc\"}}}],\"type\":\"order\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"ok\",\"response\":{\"type\":\"order\",\"data\":{\"statuses\":[{\"resting\":{\"oid\":41569108691,\"cloid\":\"0x285ad26a251f390c83d065af51e3f8d9\"}}]}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.34753669s
- id: 1
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"cancels\":[{\"asset\":173,\"cloid\":\"0x285ad26a251f390c83d065af51e3f8d9\"}],\"type\":\"cancelByCloid\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"ok\",\"response\":{\"type\":\"cancel\",\"data\":{\"statuses\":[\"success\"]}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 731.139038ms
