---
version: 2
interactions:
- id: 0
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"grouping\":\"na\",\"orders\":[{\"a\":173,\"b\":true,\"p\":\"0.1233\",\"r\":false,\"s\":\"100\",\"t\":{\"limit\":{\"tif\":\"Gtc\"}}}],\"type\":\"order\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"ok\",\"response\":{\"type\":\"order\",\"data\":{\"statuses\":[{\"resting\":{\"oid\":41545810396}}]}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.841277963s
