---
version: 2
interactions:
- id: 0
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"grouping\":\"na\",\"orders\":[{\"a\":173,\"b\":true,\"p\":\"0.2233\",\"r\":false,\"s\":\"55\",\"t\":{\"limit\":{\"tif\":\"Gtc\"}}}],\"type\":\"order\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"err\",\"response\":\"User or API Wallet 0xefc07321d3d6a8fa4961306c7bf555f0723f28c1 does not exist.\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 219.760763ms
