---
version: 2
interactions:
- id: 0
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"grouping\":\"na\",\"orders\":[{\"a\":173,\"b\":true,\"c\":\"06c60000000000000000000000003f5a\",\"p\":\"0.1233\",\"r\":false,\"s\":\"45\",\"t\":{\"limit\":{\"tif\":\"Gtc\"}}}],\"type\":\"order\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"err\",\"response\":\"User or API Wallet 0x281abb829ea0b0291ceaa3b14b5b5d893070e8d5 does not exist.\"}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 218.36981ms
- id: 1
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"grouping\":\"na\",\"orders\":[{\"a\":173,\"b\":true,\"c\":\"0x06c60000000000000000000000003f5a\",\"p\":\"0.1233\",\"r\":false,\"s\":\"45\",\"t\":{\"limit\":{\"tif\":\"Gtc\"}}}],\"type\":\"order\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"ok\",\"response\":{\"type\":\"order\",\"data\":{\"statuses\":[{\"error\":\"Order must have minimum value of $10. asset=173\"}]}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.371674659s
- id: 2
  request:
    host: api.hyperliquid-testnet.xyz
    body: "{\"action\":{\"grouping\":\"na\",\"orders\":[{\"a\":173,\"b\":true,\"c\":\"0x06c60000000000000000000000003f5a\",\"p\":\"0.1233\",\"r\":false,\"s\":\"100\",\"t\":{\"limit\":{\"tif\":\"Gtc\"}}}],\"type\":\"order\"}}"
    headers:
      Content-Type:
      - application/json
    url: https://api.hyperliquid-testnet.xyz/exchange
    method: POST
  response:
    body: "{\"status\":\"ok\",\"response\":{\"type\":\"order\",\"data\":{\"statuses\":[{\"resting\":{\"oid\":41547028680,\"cloid\":\"0x06c60000000000000000000000003f5a\"}}]}}}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.309152799s
