---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid.xyz
        body: '{"dex":"xyz","type":"perpDexLimits"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid.xyz/info
        method: POST
      response:
        body: '{"totalOiCap":"400000000.0","oiSzCapPerPerp":"1000000000.0","maxTransferNtl":"150000000.0","coinToOiCap":[["xyz:AAPL","25000000.0"],["xyz:AMZN","25000000.0"],["xyz:COIN","25000000.0"],["xyz:GOLD","25000000.0"],["xyz:GOOGL","50000000.0"],["xyz:HOOD","25000000.0"],["xyz:INTC","25000000.0"],["xyz:META","25000000.0"],["xyz:MSFT","25000000.0"],["xyz:NVDA","50000000.0"],["xyz:ORCL","25000000.0"],["xyz:PLTR","25000000.0"],["xyz:TSLA","25000000.0"],["xyz:XYZ100","150000000.0"]]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 253.197891ms
