---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"action":{"registerAsset":{"assetRequest":{"coin":"test:TEST0","marginTableId":10,"onlyIsolated":false,"oraclePx":"10.0","szDecimals":2},"dex":"test","maxGas":null,"schema":null},"type":"perpDeploy"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/exchange
        method: POST
      response:
        body: '{"status":"err","response":"Deployer has not staked enough"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 500ms
