---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"action":{"haltTrading":{"coin":"test:BTC","isHalted":true},"type":"perpDeploy"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/exchange
        method: POST
      response:
        body: '{"status":"ok","data": {"statuses": []}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 552.43652ms
