---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid.xyz
        body: '{"type":"perpDexs"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid.xyz/info
        method: POST
      response:
        body: '[null,{"name":"xyz","fullName":"XYZ","deployer":"0x88806a71d74ad0a510b350545c9ae490912f0888","oracleUpdater":null,"feeRecipient":"0x97f46f90c04efb91d0d740bd263e76683ca6f904","assetToStreamingOiCap":[["xyz:AAPL","25000000.0"],["xyz:AMZN","25000000.0"],["xyz:COIN","25000000.0"],["xyz:GOLD","25000000.0"],["xyz:GOOGL","50000000.0"],["xyz:HOOD","25000000.0"],["xyz:INTC","25000000.0"],["xyz:META","25000000.0"],["xyz:MSFT","25000000.0"],["xyz:NVDA","50000000.0"],["xyz:ORCL","25000000.0"],["xyz:PLTR","25000000.0"],["xyz:TSLA","25000000.0"],["xyz:XYZ100","150000000.0"]],"subDeployers":[["setOracle",["0x1234567890545d1df9ee64b35fdd16966e08acec"]]],"deployerFeeScale":"1.0","lastDeployerFeeScaleChangeTime":"1970-01-01T00:00:00","assetToFundingMultiplier":[]},{"name":"flx","fullName":"Felix Exchange","deployer":"0x2fab552502a6d45920d5741a2f3ebf4c35536352","oracleUpdater":"0x94757f8dcb4bf73b850195660e959d1105cfedd5","feeRecipient":"0xe2872b5ae7dcbba40cc4510d08c8bbea95b42d43","assetToStreamingOiCap":[["flx:COIN","2000000.0"],["flx:CRCL","2000000.0"],["flx:GOLD","10000000.0"],["flx:TSLA","4500000.0"]],"subDeployers":[["registerAsset",["0xd0d4ef34424af3da883672b8cdeca751293655a5"]],["setOracle",["0x94757f8dcb4bf73b850195660e959d1105cfedd5","0xd0d4ef3[...]
    - id: 1
      request:
        host: api.hyperliquid.xyz
        body: '{"dex":"xyz","type":"perpDexStatus"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid.xyz/info
        method: POST
      response:
        body: '{"totalNetDeposit":"44452174.1128069982"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 303.339455ms
