---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid.xyz
        body: '{"type":"perpDeployAuctionStatus"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid.xyz/info
        method: POST
      response:
        body: '{"startTimeSeconds":1765623600,"durationSeconds":111600,"startGas":"1830.62376484","currentGas":"1369.88262387","endGas":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 315.515379ms
