---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"action":{"registerAsset2":{"assetRequest":{"coin":"test:TEST0","marginMode":"strictIsolated","marginTableId":10,"oraclePx":"10.0","szDecimals":2},"dex":"test","maxGas":1000000000000,"schema":{"collateralToken":0,"fullName":"test dex","oracleUpdater":"0xabcdef1234567890abcdef1234567890abcdef12"}},"type":"perpDeploy"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/exchange
        method: POST
      response:
        body: '{"status":"ok","data":{"statuses":[]}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 500ms
