---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid.xyz
        body: '{"type":"clearinghouseState","user":"0xcd5051944f780a621ee62e39e493c489668acf4d"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid.xyz/info
        method: POST
      response:
        body: '{"marginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMarginSummary":{"accountValue":"0.0","totalNtlPos":"0.0","totalRawUsd":"0.0","totalMarginUsed":"0.0"},"crossMaintenanceMarginUsed":"0.0","withdrawable":"0.0","assetPositions":[],"time":1765661071083}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 251.155371ms
[...]
